<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavourMapper">
    <insert id="insertBatch">
        insert into dish_flavor (name,dish_id,value) values
        <foreach collection="dishFlavors" item="df" separator=",">
            (#{df.name},#{df.dishId},#{df.value})
        </foreach>
    </insert>
</mapper>
